<%- include("partials/header") %>

    <div class="container mt-5 mb-5">
        <div class="row m-4">
            <div class="col-lg-3">
                <img src="/images/avatar.png" class="card-img-top" style="width: 150px;">
            </div>
            <div class="col">
                <div class="container content">
                    <h1><%= employee.nom %> <%= employee.prenom %> </h1>
                    <h3><%= employee.matricule %></h3>
                    <h5><%= employee.fonction %>, <%= employee.entite %></h5>
                </div>
            </div>
        </div>
        <hr>
        <div class="container content m-4">
            <h2>Reliquats:</h2>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Départs autorisés :</td>
                        <td><%= employee.departsAutorisees %></td>
                        <td>Droits Restants 2019 :</td>
                        <td><%= employee.droitN_1 %></td>
                        <td>Droits Restants 2020 :</td>
                        <td><%= employee.droitN %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr>
        <div class="container">
            <form action="/personnel/<%= employee._id %> " method="POST">
                <a href="/modifier-personnel/<%= employee._id %>" class="btn btn-dark m-2">Modifier</a>
                <button class="btn btn-outline-danger m-2">Supprimer</button>
            </form>
        </div>

    </div>

<%- include("partials/footer") %> 