<%- include("partials/header") %>

    <div class="container mt-4 p-2 content emp-list">
      <h1>Liste des Personnels</h1>
      <hr>
      <div class="row">
        <div class="col-lg-10">
            <form class="form">
              <div class="row">
                <div class="col">
                  <input class="form-control mr-2" type="search" placeholder="Matricule" aria-label="Search">
                </div>
                <div class="col">
                  <button class="btn btn-outline-primary" type="submit"> <i class="fas fa-search"></i> Chercher</button>
                </div>
              </div>
            </form>
        </div>

        <div class="col">
          <a href="/nouveau-personnel"><i class="fas fa-plus"></i> Nouveau Personnel</a>
        </div>
      </div>
      <hr>
      <table class="table table-bordered table-hover shadow">
          <thead class="thead-dark">
              <tr>
                  <th>Matricule</th>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Date de Naissance</th>
                  <th>Fonction</th>
                  <th>Entité</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <!-- Data here -->
              <% employees.forEach(employee => { %>
                <tr>
                  <td><%= employee.matricule %> </td>
                  <td><%= employee.nom %> </td>
                  <td><%= employee.prenom %> </td>
                  <td><%= employee.dateDeNaissance %> </td>
                  <td><%= employee.fonction %> </td>
                  <td><%= employee.entite %> </td>
                  <td>
                    <a href="#">Modifier</a>
                      <a href="#">Supprimer</a>
                      <a href="#">Congés</a>
                  </td>
                </tr>
              <% }) %>
          </tbody>
      </table>
    </div>

<%- include("partials/footer") %>