<%- include("partials/header") %>

    <div class="container mt-4 p-2 content emp-list">
      <h1 id="list-header">Liste des Personnels</h1>
      <hr>
      <div class="row">
        <div class="col-lg-10">
            <form action="/list-personnel" method="POST" class="form">
              <div class="row">
                <div class="col">
                  <input class="form-control mr-2" type="text" name="searchedMatricule" placeholder="Entrer le matricule à chercher..." aria-label="Search" required autocomplete="off">
                </div>
                <div class="col">
                  <button class="btn btn-outline-primary" type="submit"> <i class="fas fa-search"></i> Chercher</button>
                </div>
              </div>
            </form>
        </div>

        <div class="col">
          <a href="/nouveau-personnel"><i class="fas fa-plus"></i> Nouveau Personnel</a>
        </div>
      </div>

      <% if (employees.length === 0) { %>
        <div class="alert alert-warning fade show" role="alert">
          Aucun personnel trouvé.
      </div>
      <% } else {  %>
        <a href="#list-header" class="float">
          <i class="fas fa-arrow-up my-float"></i>
        </a>
        <table class="table table-bordered table-hover shadow">
            <thead class="thead-dark">
                <tr>
                    <th>Matricule</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Date de Naissance</th>
                    <th>Fonction</th>
                    <th>Entité</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <!-- Data here -->
                <% employees.forEach(employee => { %>
                  <tr>
                    <td><a href="/personnel/<%= employee._id %>"><%= employee.matricule %></a></td>
                    <td><%= employee.nom %> </td>
                    <td><%= employee.prenom %> </td>
                    <td><%= employee.dateDeNaissance %> </td>
                    <td><%= employee.fonction %> </td>
                    <td><%= employee.entite %> </td>
                    <td>
                      <form action="">
                          <button type="submit" class="btn btn-link m-0" value="<%= employee._id %>">Congés</button>
                      </form>
                    </td>
                  </tr>
                <% }) %>
            </tbody>
        </table>

      <% }%>
    </div>

<%- include("partials/footer") %>