<%- include("partials/header") %> 

    <div class="container content mt-5">
        <h1 class="mt-4">Nouveau Congé Exceptionnel:</h1>
        <form action="/nouveau-conge-excep" method="POST">
            <div class="form-group">
                <div class="form-group">
                    <label for="">Matricule</label>
                    <input type="text" name="employeeId" class="form-control" required autocomplete="off" placeholder="Exemple: A01xxx">
                </div>
                <div class="form-group">
                    <label for="">Nature</label>
                    <select id="nature" name="leaveType" class="form-control">
                        <% excepLeaves.forEach(element => { %>
                            <option value="<%= element.nature %>" class="<%= element.nature.replace(/ /g, "") %>"><%= element.nature %></option>
                        <% }) %>
                    </select>
                </div>
                <label for="">Période de validité</label>
                    <div class="row">
                        <div class="col">
                            <label for="">Du</label>
                            <input type="date" name="startDate" class="form-control" required>
                        </div>
                        <div class="col">
                            <label>Durée</label>
                            <input type="number" id="duree" name="duree" class="form-control" value="<%= excepLeaves[0].duree %>" required disabled />
                        </div>
                    </div>
            </div>
            <div class="center p-3">
                <button type="submit" class="btn btn-success m-2">Ajouter</button>
                <button type="reset" class="btn btn-outline-danger m-2">Annuler</button>
            </div>
        </form>

        <div style="display: none;">
            <% excepLeaves.forEach(element => { %>
                <input type="number" id="<%= element.nature.replace(/[ \']/g, "") %>" value="<%= element.duree %>" />
            <% }) %>
        </div>

        <% if (alert) { %>
            <%- include("partials/alerts-handler") %> 
        <% } %>

        <script>
            $("#nature").change(() => {
                var selectedType = $("#nature").val();
                var duration = $("#"+selectedType.replace(/[ \']/g, "")).val();

                selectedType === "Accident de travail ou maladies professionnelles" ? $("#duree").attr("disabled", false) : $("#duree").attr("disabled", true);

                $("#duree").val(parseInt(duration));
            });
        </script>

    </div>
    

<%- include("partials/footer") %> 