<%- include("partials/header") %>

    <div class="container mt-4 p-2 content">
        <h1 class="mt-4 mb-4">Historique des Congés</h1>
        <a href="#list-header" class="float">
            <i class="fas fa-arrow-up my-float"></i>
        </a>
        <table class="table table-bordered table-hover shadow-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Matricule</th>
                    <th>Du</th>
                    <th>Au</th>
                    <th>Nature</th>
                    <th>Nombre de jours</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% leaveList.forEach(leave => { %>
                    <tr>
                        <td><%= leave.matricule %></td>
                        <td><%= leave.startDate %> </td>
                        <td><%= leave.endDate %> </td>
                        <td><%= leave.type %> </td>
                        <td><%= leave.numberOfDays %> jours </td>
                        <td>
                            <form action="/" method="POST">
                                <button class="btn btn-link" type="submit">Imprimer</button>
                            </form>
                        </td>
                    </tr>
                <% }) %> 
            </tbody>
        </table>
    </div>

<%- include("partials/footer") %> 