<%- include("partials/header") %>

    <div class="container content">
        <div class="row mt-5">
            <div class="col-lg-8">
                <h1 class="">Reliquats</h1>
            </div>
            <div class="col-lg-4">
                <form action="/reliquats" method="POST" style="text-align: left;">
                    <div class="row">
                        <div class="col" style="text-align: right;">
                            <a href="/impression-reliquat" target="blank" class="btn btn-primary mt-2">Imprimer</a>
                        </div>
                        <div class="col" style="text-align: right;">
                            <button type="submit" class="btn btn-outline-primary mt-2">Mise à Jours</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <% const today = new Date() %> 
        <%- include("partials/alerts-handler") %>
        <table id="reliquats" class="table table-bordered table-hover shadow-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Matricule</th>
                    <th>Départs Autorisées</th>
                    <th>Droit <%= today.getFullYear()-1 %></th>
                    <th>Droit <%= today.getFullYear() %></th>
                </tr>
            </thead>
            <tbody>
                <% reliquats.forEach(rlqt => { %>
                    <tr>
                        <td><a href="/personnel/<%= rlqt.rid %>"><%= rlqt.matricule %></a></td>
                        <td><%= rlqt.departs %> </td>
                        <td><%= rlqt.droitN_1 %> </td>
                        <td><%= rlqt.droitN %> </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

<%- include("partials/footer") %> 