<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titre congé administratif</title>
    <style>
        h1 {
            font-size: 18pt;
            margin-top: 5%;
        }
        h3 {
            font-size: 14pt;
        }
        td, th, p {
            font-size: 10pt;
        }
        td, th {
            text-align: left;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        .leave-desc {
            margin-top: 70px;
        }
        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .m-3 {
            margin: 12% 3%;
        }
        .chef {
            margin-top: 70px;
        }
    </style>
</head>
<body>
    <div>
        <% let date = new Date() %>
        <div class="center">
            <h1>Titre de conge administratif <br>
            N°................../D/DRH/<%= date.getFullYear() %></h1>
        </div>
        <table class="leave-desc m-3">
            <tbody>
                <tr>
                    <th>Nombre de jours :</th>
                    <td><%= leave.numberOfDays %></td>
                </tr>
                <tr>
                    <th>Période de validité :</th>
                    <td><%= leave.startDate %> au <%= leave.endDate %></td>
                </tr>
                <tr>
                    <th>Droit :</th>
                    <td></td>
                </tr>
                <tr>
                    <th>Nature :</th>
                    <td><%= leave.type %> </td>
                </tr>
                <tr>
                    <th>Mr/Mme :</th>
                    <td><%= employee.nom %> <%= employee.prenom %></td>
                </tr>
                <tr>
                    <th>Matricule :</th>
                    <td><%= employee.matricule %></td>
                </tr>
                <tr>
                    <th>Fonction :</th>
                    <td><%= employee.fonction %></td>
                </tr>
                <tr>
                    <th>Entité :</th>
                    <td><%= employee.entite %></td>
                </tr>
            </tbody>
        </table>
        <div class="right m-3">
                <p><b>LE CHEF DE LA DIVISION DES</b><br><b>RESSOURCES HUMAINES</b></p>
                <p class="chef"><b>Z. INAJJARNE</b></p>
        </div>
        <div class="m-3">
            <h3>Reliquats</h3>
            <table>
                <tbody>
                    <tr>
                        <th>Départs autorisés <%= date.getFullYear() %> :</th>
                        <td><%= employee.departsAutorisees %></td>
                    </tr>
                    <tr>
                        <th>Droit restant <%= date.getFullYear()-1 %> :</th>
                        <td><%= employee.droitN_1 %></td>
                    </tr>
                    <tr>
                        <th>Droit restant <%= date.getFullYear()%> :</th>
                        <td><%= employee.droitN %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="right" style="margin-right: 3%;">
            <p>EN.DCE.PA.GRHS.1.0</p>
        </div>
    </div>
</body>
</html>