<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titre congé administratif</title>
    <style>
        body {
            width: 793.7px;
            margin: auto;
        }
        h1 {
            font-size: 24pt;
            margin-top: 5%;
        }
        h3 {
            font-size: 16pt;
        }
        td, th, p {
            font-size: 12pt;
        }
        td, th {
            text-align: left;
            padding-top: 3%;
            padding-bottom: 3%;
        }
        .leave-desc {
            margin-top: 70px;
        }
        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .m-3 {
            margin: 12% 3%;
        }
        .chef {
            margin-top: 70px;
        }
        .bordered {
            border: 1px solid black;
            padding: 6px 12px;
        }
    </style>
</head>
<body>
    <div>
        <% let date = new Date() %>
        <div class="center">
            <h1>Titre de conge administratif </h1>
            <h3>N°................../D/DRH/<%= date.getFullYear() %></h3>
        </div>
        <table class="leave-desc m-3">
            <tbody>
                <tr>
                    <th>Nombre de jours :</th>
                    <td><%= leave.numberOfDays %> Jours ouvrables</td>
                </tr>
                <tr>
                    <th>Période de validité :</th>
                    <td>
                        <% if (leave.startDate == leave.endDate) { %>
                            le <%= leave.startDate %> 
                        <% } else {%>
                            <%= leave.startDate %> au <%= leave.endDate %>
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <th>Droit :</th>
                    <td><%= leave.executedRights %></td>
                </tr>
                <tr>
                    <th>Nature :</th>
                    <td><%= leave.type %> </td>
                </tr>
                <tr>
                    <th>Mr/Mme :</th>
                    <td><%= employee.nom %> <%= employee.prenom %></td>
                </tr>
                <tr>
                    <th>Matricule :</th>
                    <td><%= employee.matricule %></td>
                </tr>
                <tr>
                    <th>Fonction :</th>
                    <td><%= employee.fonction %></td>
                </tr>
                <tr>
                    <th>Entité :</th>
                    <td><%= employee.entite %></td>
                </tr>
                <tr>
                    <th>Destination :</th>
                    <td>Maroc et étranger</td>
                </tr>
            </tbody>
        </table>
        <div class="right m-3">
                <p class="mb-5"><b>LE CHEF DE LA DIVISION DES</b><br><b>RESSOURCES HUMAINES</b></p>
        </div>
        <div class="m-3">
            <h3 class="bordered" style="width: 100px;">Reliquats</h3>
            <table class="bordered">
                <tbody>
                    <tr>
                        <th>Départs autorisés <%= date.getFullYear() %> :</th>
                        <td><%= employee.departsAutorisees %></td>
                    </tr>
                    <tr>
                        <th>Droit restant <%= date.getFullYear()-1 %> :</th>
                        <td><%= employee.droitN_1 %></td>
                    </tr>
                    <tr>
                        <th>Droit restant <%= date.getFullYear()%> :</th>
                        <td><%= employee.droitN %></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="right" style="margin-right: 3%;">
            <p>EN.DCE.PA.GRHS.1.0</p>
        </div>
    </div>
</body>
</html>