<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titre congé administratif</title>
    <style>
        body {
            width: 793.7px;
            margin: auto;
        }
        h1 {
            font-size: 20pt;
            margin-top: 10%;
        }
        h3 {
            font-size: 16pt;
        }
        td, th, p {
            font-size: 12pt;
        }
        td, th {
            text-align: left;
            padding-top: 2%;
            padding-bottom: 2%;
        }
        .date{
            text-align: right;
            margin-top: 8%;
        }
        .leave-desc {
            margin-top: 70px;
        }
        .center {
            text-align: center;
        }

        .right {
            text-align: right;
        }

        .m-3 {
            margin: 12% 3%;
        }
        .sign {
            margin-top: 30%;
        }
    </style>
</head>
<body>
    <div class="">
        <% let date = new Date() %>
        <div class="center">
            <div class="date">
                <h3>Agadir, le ........................</h3>
            </div>
            <h1>TITRE DE CONGE EXCEPRTIONNEL<br>
            N°............................/D/DRH/<%= date.getFullYear() %> </h1>
            <h3>(<%= leave.type %>)</h3>
        </div>

        <div class="leave-desc m-3">
            <table>
                <tr>
                    <td><b>Mr/Mme :</b></td>
                    <td><%= employee.nom %> <%= employee.prenom %></td>
                </tr>
                <tr>
                    <td><b>Matricule :</b></td>
                    <td><%= employee.matricule %></td>
                </tr>
                <tr>
                    <td><b>Fonction :</b></td>
                    <td><%= employee.fonction %></td>
                </tr>
                <tr>
                    <td><b>Affectation :</b></td>
                    <td><%= employee.entite %></td>
                </tr>
                <tr>
                    <td colspan="2"><b>Est autorisé(e) de prendre un congé exceptionnel de : </b><%= leave.numberOfDays %> jours</td>
                </tr>
                <tr>
                    <td><b>Du :</b></td>
                    <td><%= leave.startDate %></td>
                </tr>
                <tr>
                    <td><b>Au :</b></td>
                    <td><%= leave.endDate %></td>
                </tr>
            </table>
        </div>

        <div class="right m-3">
            <p><b>LE CHEF DE LA DIVISION DES</b><br><b>RESSOURCES HUMAINES</b></p>
        </div>

        <div class="sign right">
            <p>EN.DCE.PA.GRHS.1.0</p>
        </div>
    </div>
</body>
</html>